/* ==========================================================================
   #WRAPPER
   ========================================================================== */










/**
* Page-level constraining and wrapping elements.
*/


.o-wrapper {
  max-width: rem(1280px);
  padding-right: rem($global-spacing-unit);    
  padding-left: rem($global-spacing-unit);     
  margin-right: auto;
  margin-left: auto;
}

.o-wrapper:after {
  content: "";
  display: table;
  clear: both;
}










/* Size variants
   ========================================================================== */










.o-wrapper--tiny {
  max-width: rem(600px);
}

.o-wrapper--small {
  max-width: rem(800px);
}

.o-wrapper--large {
  max-width: rem(1480px);
}

.o-wrapper--huge {
  max-width: rem(2000px);
}