/* ==========================================================================
   #BAND
   ========================================================================== */










.o-band {
  padding-top: rem($global-spacing-unit);
  padding-bottom: rem($global-spacing-unit);
}










/* Size variants
   ========================================================================== */










.o-band--tiny {
  padding-top: rem($global-spacing-unit-tiny);
  padding-bottom: rem($global-spacing-unit-tiny);
}
  
.o-band--small {
  padding-top: rem($global-spacing-unit-small);
  padding-bottom: rem($global-spacing-unit-small);
}
  
.o-band--large {
  padding-top: rem($global-spacing-unit-large);
  padding-bottom: rem($global-spacing-unit-large);
}

.o-band--huge {
  padding-top: rem($global-spacing-unit-huge);
  padding-bottom: rem($global-spacing-unit-huge);
}










/* Style variants
   ========================================================================== */










.o-band--primary {
  color: $color-white;
  background-color: $color-primary;
}

.o-band--secondary {
  color: $color-white;
  background-color: $color-secondary;
}

.o-band--tint {
  background-color: $color-tint;
}
