/* ==========================================================================
   #BAND
   ========================================================================== */










.o-band {
  display: block;   
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
  @include clearfix;


  @include mq(lg) {
    padding-top: $global-spacing-unit-lg;
    padding-bottom: $global-spacing-unit-lg;
  }
}










/* Size variants
   ========================================================================== */










.o-band--fl {
  padding-top: 0;
  padding-bottom: 0;
}

.o-band--xs {
  padding-top: $global-spacing-unit-xs;
  padding-bottom: $global-spacing-unit-xs;
}
  
.o-band--sm {
  padding-top: $global-spacing-unit-sm;
  padding-bottom: $global-spacing-unit-sm;
}
  
.o-band--lg {
  padding-top: $global-spacing-unit-lg;
  padding-bottom: $global-spacing-unit-lg;
}

.o-band--xl {
  padding-top: $global-spacing-unit-xl;
  padding-bottom: $global-spacing-unit-xl;
}










/* Style variants
   ========================================================================== */









.o-band--light {
  color: $black;
}

.o-band--dark {
  color: $white;
}
