/* ==========================================================================
   #MODAL
   ========================================================================== */










/*

Example Snippet 

<div class="c-modal js-modal" id="formModal">
  <div class="c-modal__backdrop"></div>
  <div class="c-modal__dialog">
    <div class="c-modal__content js-modalContent">
      <div class="c-modal__body">
      <div class="close"  data-dismiss="modal">x</div>

      </div>
    </div>
  </div>
</div>

<div class="c-btn c-btn--primary" data-toggle="modal"  data-target="#formModal">btn</div>

*/











/**
* 1. Set stack order for modal, backdrop and modal dialog.
* 2. Set margin. (will be base for proper max height).
*/

$zindex-dialog   :    1060;                    /* 1 */
$zindex-backdrop :    1050;                    /* 1 */
$zindex-modal    :    1040;                    /* 1 */

$modal-dialog-margin: $global-spacing-unit;    /* 2 */
$modal-dialog-padding: $global-spacing-unit; 








/**
* Prevent body from scrolling when modal is open
*/


.js-modal-open {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;

  .c-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}










/**
* c-modal:          Overall container, were the modal scrolls within.
* c-modal__dialog:  Shell div to position the modal with bottom padding.
* c-modal__content: Actual modal.
*/











/**
* o-modal is direct parent of .o-modal__dialog
*
* 1. Prevent Chrome on Windows from adding a focus outline. For details, see
* 2. Hidden by default
*/


.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;                /* 1 */
  z-index: $zindex-modal;
  transition: opacity .4s;
  
  opacity: 0;                /* 2 */
  visibility: hidden;        /* 2 */


  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}


.c-modal__dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin auto;
  z-index: $zindex-dialog;
  padding-left: $modal-dialog-padding;
  padding-right: $modal-dialog-padding;


  @include mq(sm) {
    max-width: 800px;
  }
}


.c-modal__content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
}


/**
* Header contains  title and close button 
* sibiling of c-modal__body & c-modal__footer if they exist
*/


$modal-title-line-height: 1.5;
$modal-padding: $global-spacing-unit-sm; //For modal header/body/footer


.c-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $modal-padding;
  border-bottom: 1px solid $gray-300;

  .c-modal__title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
  }

  .close {
    padding: $modal-padding;
    margin-top: -$modal-padding;
    margin-right: -$modal-padding;
    margin-bottom: -$modal-padding;
    margin-left: auto;
  }
}


/**
* Where all content resides
* sibiling of c-modal__header & c-modal__footer if they exist
*/


.c-modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-padding;


  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(#{$modal-padding} / 2);
    line-height: .5;
  }
}


// Footer (for actions/buttons)
.c-modal__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-padding;
  border-top: 1px solid $gray-300;

  & > * {
    margin: .25rem;
  }
}





.close {
  cursor: pointer;
}










/* Modal backdrop
   ========================================================================== */










/**
* Backdrop must be a child of c-modal for proper z-index order
*/


.c-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: $zindex-backdrop;
}










/* Functionality variants
   ========================================================================== */










.c-modal__dialog--scrollable {
  max-height: calc(100% - #{$modal-dialog-margin} * 2);

  .c-modal__content {
    max-height: calc(100vh - #{$modal-dialog-margin} * 2);
    overflow: hidden;
  }
  .c-modal__body {  
    overflow-y: auto;
  }
}


/**
* 1. Center modal__content.
*
* NOTE: This is used in tandem with .c-modal__dialog--scrollable 
*/

.c-modal__dialog--centered {
  display: flex;                                                 /* 1 */
  align-items: center;                                           /* 1 */
  max-height: calc(100vh - #{$modal-dialog-margin} * 2);;

  &::before {
    display: block; // IE10
    height:  calc(100vh -  #{$modal-dialog-margin} * 2);
    content: "";
  }
}








