/* ==========================================================================
   #MODAL
   ========================================================================== */










/**
* 1. Set stack order for modal, backdrop and modal dialog.
* 2. Set margin. (will be base for proper max height).
*/

$index-top:    3000;              /* 1 */
$index-middle: 2000;              /* 1 */
$index-bottom: 1000;              /* 1 */

$modal-dialog-margin: $global-spacing-unit;     /* 2 */









/**
* Prevent body from scrolling when modal is open
*/


.js-modal-open {
  overflow-y: hidden;

  .c-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}










/**
* c-modal:          Overall container, were the modal scrolls within.
* c-modal__dialog:  Shell div to position the modal with bottom padding.
* c-modal__content: Actual modal.
*/





/**
* o-modal is direct parent of .o-modal__dialog
*
* 1. Prevent Chrome on Windows from adding a focus outline. For details, see
* 2. Hidden by default
*/


.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;                /* 1 */
  z-index: $index-bottom;
  transition: opacity .4s;
  
  opacity: 0;                /* 2 */
  visibility: hidden; 


  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}


.c-modal__dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin auto;
  z-index: $index-top;
  padding-left: $global-spacing-unit;
  padding-right: $global-spacing-unit;


  @include mq(small) {
    max-width: 1000px;
  }
}


.c-modal__content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-white;
}


/**
* c-modal__body: Where all content resides
* sibiling of c-modal__header & c-modal__footer if they exist
*/


.c-modal__body {
  position: relative;
  flex: 1 1 auto;
  padding: $global-spacing-unit;
}


/**
* Button to close modal
*/


.c-modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  line-height: 0;
  cursor: pointer;
}









/* Modal backdrop
   ========================================================================== */










/**
* Backdrop must be a child of c-modal for proper z-index order
*/


.c-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .2);
  z-index: $index-middle;
}










/* Functionality variants
   ========================================================================== */










.c-modal__dialog--scrollable {
  max-height: calc(100% - #{$modal-dialog-margin} * 2);

  .c-modal__content {
    max-height: calc(100vh - #{$modal-dialog-margin} * 2);
    overflow: hidden;
  }
  .c-modal__body {  
    overflow-y: auto;
  }
}


/**
* 1. Center modal__content
*/

.c-modal__dialog--centered {
  display: flex;                                                 /* 1 */
  align-items: center;                                           /* 1 */
  max-height: calc(100vh - #{$modal-dialog-margin} * 2);;

  &::before {
    display: block; // IE10
    height:  calc(100vh -  #{$modal-dialog-margin} * 2);
    content: "";
  }
}








