/* ==========================================================================
   #BUTTONS
   ========================================================================== */










/**
*
* 1. Allow the use of style box model properties.
* 2. Line up different sized buttons.
* 3. Make buttons inherit font styles (often necessary when styling `input`s as
*    buttons).
* 4. Reset/normalize styles.

* 5. Force all button-styled elements to appear clickable.
*
*/


.c-btn {
  /* Position */
  position: relative;

  /* Box model */
  display: inline-block;      /* 1 */
  vertical-align: middle;     /* 2 */
  margin: 0;                  /* 4 */
  padding: $global-spacing-unit-small $global-spacing-unit;

  /* Typography */
  font: inherit;              /* 3 */
  text-align: center;         /* 4 */
  text-decoration: none;      /* 4 */

  /* Visual */
  cursor: pointer;            /* 5 */
  border-radius: $global-radius;

  /* Misc */
  transition: $global-transition;
}










/* Style variants
   ========================================================================== */










.c-btn--primary,
.c-btn--primary:link,
.c-btn--primary:visited {
  color: $color-white;
  background-color: $color-brand-primary;
  border: 1px solid $color-brand-primary;
  border-radius: $global-radius;
}

.c-btn--primary:hover,
.c-btn--primary:active,
.c-btn--primary:focus {
  background-color: $color-brand-primary-shadow;
  border: 1px solid $color-brand-primary-shadow;
}





.c-btn--secondary,
.c-btn--secondary:link,
.c-btn--secondary:visited {
  color: $color-white;
  background-color: $color-brand-secondary;
  border: 1px solid $color-brand-secondary;
  border-radius: $global-radius;
}

.c-btn--secondary:hover,
.c-btn--secondary:active,
.c-btn--secondary:focus {
  background-color: $color-brand-secondary-shadow;
  border: 1px solid $color-brand-secondary-shadow;
}





.c-btn--success,
.c-btn--success:link,
.c-btn--success:visited {
  color: $color-white;
  background-color: $color-success;
  border: 1px solid $color-success;
  border-radius: $global-radius;
}

.c-btn--success:hover,
.c-btn--success:active,
.c-btn--success:focus {
  background-color: $color-success-shadow;
  border: 1px solid $color-success-shadow;
}






.c-btn--danger,
.c-btn--danger:link,
.c-btn--danger:visited {
  color: $color-white;
  background-color: $color-danger;
  border: 1px solid $color-danger;
  border-radius: $global-radius;
}

.c-btn--danger:hover,
.c-btn--danger:active,
.c-btn--danger:focus {
  background-color: $color-danger-shadow;
  border: 1px solid $color-danger-shadow;
}










/* Ghost buttons
   ========================================================================== */










/**
* Ghost buttons have see-through backgrounds and are bordered.
*/


.c-btn--ghost-primary, 
.c-btn--ghost-primary:link, 
.c-btn--ghost-primary:visited {
  color: $color-brand-primary;
  border: 1px solid $color-brand-primary;
}

.c-btn--ghost-primary:hover,
.c-btn--ghost-primary:active,
.c-btn--ghost-primary:focus {
  background-color: $color-brand-primary;;
  color: #fff;
}






.c-btn--ghost-secondary, 
.c-btn--ghost-secondary:link, 
.c-btn--ghost-secondary:visited {
  color: $color-brand-secondary;
  border: 1px solid $color-brand-secondary;
}

.c-btn--ghost-secondary:hover,
.c-btn--ghost-secondary:active,
.c-btn--ghost-secondary:focus {
  background-color: $color-brand-secondary;
  color: #fff;
}





.c-btn--ghost-success, 
.c-btn--ghost-success:link, 
.c-btn--ghost-success:visited {
  color: $color-success;
  border: 1px solid $color-success;
}

.c-btn--ghost-success:hover,
.c-btn--ghost-success:active,
.c-btn--ghost-success:focus {
  background-color: $color-success;
  color: #fff;
}





.c-btn--ghost-danger, 
.c-btn--ghost-danger:link, 
.c-btn--ghost-danger:visited {
  color: $color-danger;
  border: 1px solid $color-danger;
}

.c-btn--ghost-danger:hover,
.c-btn--ghost-danger:active,
.c-btn--ghost-danger:focus {
  background-color: $color-danger;
  color: #fff;
}










/* Size variants
   ========================================================================== */










.c-btn--small {
  padding: $global-spacing-unit-tiny $global-spacing-unit-small;
}

.c-btn--large {
  padding: $global-spacing-unit-small $global-spacing-unit-large;
}










/* UI variants
   ========================================================================== */










.c-btn--block {
  display: block;
  width: 100%;
}










  