/* ==========================================================================
   #CLOSE
   ========================================================================== */










.close {
  float: right;  
  
  /* Typography */
  font-size: 1.125rem;  
  font-weight: bold;  
  text-align: center;          
  
  /* Visual */
  cursor: pointer;            
  border: 0;
  opacity: .65;

  &:hover {
    text-decoration: none;
  }
}


button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}
  