/* ==========================================================================
   #BUTTONS
   ========================================================================== */










/**
*
* 1. Allow the use of style box model properties.
* 2. Line up different sized buttons.
* 3. Make buttons inherit font styles (often necessary when styling `input`s as
*    buttons).
* 4. Reset/normalize styles.

* 5. Force all button-styled elements to appear clickable.
*
*/


.c-btn {
  /* Position */
  position: relative;

  /* Box model */
  display: inline-block;      /* 1 */
  vertical-align: middle;     /* 2 */
  margin: 0;                  /* 4 */
  padding: $global-spacing-unit-sm $global-spacing-unit;

  /* Typography */
  font: inherit;              /* 3 */
  text-align: center;         /* 4 */
  text-decoration: none;      /* 4 */

  /* Visual */
  background-color: transparent;
  cursor: pointer;            /* 5 */
  border: unset;
  border-radius: $global-radius;

  /* Misc */
  transition: $global-transition;
}










/* Style variants
   ========================================================================== */










.c-btn--primary,
.c-btn--primary:link,
.c-btn--primary:visited {
  color: $white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: $global-radius;
}

.c-btn--primary:hover,
.c-btn--primary:active,
.c-btn--primary:focus {
  background-color: $color-primary-shadow;
  border: 1px solid $color-primary-shadow;
}





.c-btn--secondary,
.c-btn--secondary:link,
.c-btn--secondary:visited {
  color: $white;
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  border-radius: $global-radius;
}

.c-btn--secondary:hover,
.c-btn--secondary:active,
.c-btn--secondary:focus {
  background-color: $color-secondary-shadow;
  border: 1px solid $color-secondary-shadow;
}





.c-btn--tertiary,
.c-btn--tertiary:link,
.c-btn--tertiary:visited {
  color: $white;
  background-color: $color-tertiary;
  border: 1px solid $color-tertiary;
  border-radius: $global-radius;
}

.c-btn--tertiary:hover,
.c-btn--tertiary:active,
.c-btn--tertiary:focus {
  background-color: $color-tertiary-shadow;
  border: 1px solid $color-tertiary-shadow;
}





.c-btn--success,
.c-btn--success:link,
.c-btn--success:visited {
  color: $white;
  background-color: $color-success;
  border: 1px solid $color-success;
  border-radius: $global-radius;
}

.c-btn--success:hover,
.c-btn--success:active,
.c-btn--success:focus {
  background-color: $color-success-shadow;
  border: 1px solid $color-success-shadow;
}





.c-btn--error,
.c-btn--error:link,
.c-btn--error:visited {
  color: $white;
  background-color: $color-error;
  border: 1px solid $color-error;
  border-radius: $global-radius;
}

.c-btn--error:hover,
.c-btn--error:active,
.c-btn--error:focus {
  background-color: $color-error-shadow;
  border: 1px solid $color-error-shadow;
}





.c-btn--link,
.c-btn--link:link,
.c-btn--link:visited {
  color: $blue;
  background-color: unset;
  border: unset;
  text-decoration: underline;
}

.c-btn--link:hover,
.c-btn--link:active,
.c-btn--link:focus {
  text-decoration: underline;
}





.c-btn--flat,
.c-btn--flat:link,
.c-btn--flat:visited {
  color: inherit;
  background-color: unset;
  border: unset;
}

.c-btn--flat:hover,
.c-btn--flat:active,
.c-btn--flat:focus {
  color: inherit;
  background-color: unset;
  border: unset;
}










/* Ghost buttons
   ========================================================================== */










/**
* Ghost buttons have see-through backgrounds and are bordered.
*/


.c-btn--ghost-primary, 
.c-btn--ghost-primary:link, 
.c-btn--ghost-primary:visited {
  color: $color-primary;
  border: 1px solid $color-primary;
}

.c-btn--ghost-primary:hover,
.c-btn--ghost-primary:active,
.c-btn--ghost-primary:focus {
  background-color: $color-primary;
  color: $white;
}





.c-btn--ghost-secondary, 
.c-btn--ghost-secondary:link, 
.c-btn--ghost-secondary:visited {
  color: $color-secondary;
  border: 1px solid $color-secondary;
}

.c-btn--ghost-secondary:hover,
.c-btn--ghost-secondary:active,
.c-btn--ghost-secondary:focus {
  background-color: $color-secondary;
  color: $white;
}





.c-btn--ghost-tertiary, 
.c-btn--ghost-tertiary:link, 
.c-btn--ghost-tertiary:visited {
  color: $color-tertiary;
  border: 1px solid $color-tertiary;
}

.c-btn--ghost-tertiary:hover,
.c-btn--ghost-tertiary:active,
.c-btn--ghost-tertiary:focus {
  background-color: $color-tertiary;
  color: $white;
}





.c-btn--ghost-success, 
.c-btn--ghost-success:link, 
.c-btn--ghost-success:visited {
  color: $color-success;
  border: 1px solid $color-success;
}

.c-btn--ghost-success:hover,
.c-btn--ghost-success:active,
.c-btn--ghost-success:focus {
  background-color: $color-success;
  color: $white;
}





.c-btn--ghost-error, 
.c-btn--ghost-error:link, 
.c-btn--ghost-error:visited {
  color: $color-error;
  border: 1px solid $color-error;
}

.c-btn--ghost-error:hover,
.c-btn--ghost-error:active,
.c-btn--ghost-error:focus {
  background-color: $color-error;
  color: $white;
}










/* Size variants
   ========================================================================== */










.c-btn--sm {
  padding: $global-spacing-unit-xs $global-spacing-unit-sm;
}

.c-btn--lg {
  padding: $global-spacing-unit-sm $global-spacing-unit-lg;
}










/* UI variants
   ========================================================================== */










.c-btn--block {
  display: block;
  width: 100%;
}










  