/* ==========================================================================
   #CORE
   ========================================================================== */










/**
* This core file sets up the most important setup variables. They
* underpin a lot of how the framework functions and should be modified and
* preconfigured with caution.
*/










/*  Base typographical styles and baseline grid.
   ========================================================================== */










/**
*
* xs..........30em - 480px
* sm..........45em - 720px
* md..........64em - 1024px
* lg..........75em - 1200px
*
*/


$global-font-size          :    100%   !default;
$global-font-size-xs       :    100%   !default;
$global-font-size-sm       :    100%   !default;
$global-font-size-md       :    105%   !default;
$global-font-size-lg       :    110%   !default;

$global-line-height        :    1.5    !default;











/* Global spacing units
   ========================================================================== */










/*  
* There are two rules to creating Vertical Rhythm:
*
* Set the spaces between each element to a multiple of the baseline
* Set the line-height of each text element to a multiple of the baseline
*
* It is not recommended that you modify these following variables.
* (it can break your vertical rhythm), but if you need to, you can.
*/


$global-spacing-unit:      ($global-line-height * 1rem);
$global-spacing-unit-xs:   ($global-spacing-unit / 4);
$global-spacing-unit-sm:   ($global-spacing-unit / 2);
$global-spacing-unit-lg:   ($global-spacing-unit * 2);
$global-spacing-unit-xl:   ($global-spacing-unit * 4);




















