/* ==========================================================================
   #COLORS
   ========================================================================== */










/*  
*  Set up a colour palette which allows us to theme the entire project from one location.
*/


// Colour palette.
$color-brand-primary:               #007bff !default;
$color-brand-primary-highlight:     lighten($color-brand-primary, 5%) !default;
$color-brand-primary-shadow:        darken($color-brand-primary,  5%) !default;

$color-brand-secondary:             #ffc107 !default;
$color-brand-secondary-highlight:   lighten($color-brand-secondary, 5%) !default;
$color-brand-secondary-shadow:      darken($color-brand-secondary,  5%) !default;

$color-green:                       #28a745 !default;
$color-green-highlight:             lighten($color-green, 5%) !default;
$color-green-shadow:                darken($color-green,  5%) !default;

$color-red:                         #dc3545 !default;
$color-red-highlight:               lighten($color-red, 5%) !default;
$color-red-shadow:                  darken($color-red,  5%) !default;

$color-white:                       #fff !default;
$color-grey:                        #666 !default;
$color-grey-dark:                   #333 !default;
$color-grey-light:                  #999 !default;
$color-grey-light-1:                #f2f2f2 !default;










/* Reassign literal variables to meaningful ones.
   ========================================================================== */









$color-tint:      $color-grey-light-1;

$color-success:             $color-green;
$color-success-highlight:   $color-green-highlight; 
$color-success-shadow:      $color-green-shadow;

$color-danger:             $color-red;
$color-danger-highlight:   $color-red-highlight; 
$color-danger-shadow:      $color-red-shadow;