/* ==========================================================================
   #GLOBAL
   ========================================================================== */










/**
*  The global settings file contains any project-wide variables; things that
*  need to be made available to the entire codebase.
*/










/* Base typographical styles.
   ========================================================================== */










$global-font-size:               12px  !default;
$global-font-size-small:         14px  !default;
$global-font-size-medium:        16px  !default;
$global-font-size-large:         18px  !default;
$global-line-height:             1.5   !default;











/* Standarise some UI treatments
   ========================================================================== */










$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;





$global-box-shadow-tiny: 0 .5rem 1rem rgba(0, 0, 0, .2);
$global-box-shadow-small: 0 .5rem 2rem rgba(0, 0, 0, .2);
$global-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
$global-box-shadow-large: 0 2rem 3rem rgba(0, 0, 0, .2);
$global-box-shadow-huge: 0 2rem 6rem rgba(0, 0, 0, .2);