/* ==========================================================================
   #GLOBAL
   ========================================================================== */










/**
*  The global settings file contains any project-wide variables; things that
*  need to be made available to the entire codebase.
*/










/* Base typographical styles.
   ========================================================================== */










$global-font-baseline:  62.5% !default;    /* (10 / 16 = .625) */
$global-font-size:      1.6rem !default;
$global-font-height:    1.5 !default;









/* Standarise some UI treatments
   ========================================================================== */










$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
$global-box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);