/* ==========================================================================
   #BACKGROUND
   ========================================================================== */










.u-bg-primary {
  background-color: $color-primary !important;
}

.u-bg-secondary {
  background-color: $color-secondary !important;
}

.u-bg-tertiary {
  background-color: $color-tertiary !important;
}

.u-bg-success {
  background-color: $color-success !important;
}

.u-bg-error {
  background-color: $color-error !important;
}

.u-bg-tint {
  background-color: $color-tint !important;
}
  
