/* ==========================================================================
   #SHADOWS
   ========================================================================== */










.u-shadow {
  box-shadow: $global-box-shadow !important;
}










/* Size variants
    ========================================================================== */










.u-shadow--none {
  box-shadow: none !important;
}

.u-shadow--tiny {
  box-shadow: $global-box-shadow-tiny !important;
}

.u-shadow--small {
  box-shadow: $global-box-shadow-small !important;
}

.u-shadow--large {
  box-shadow: $global-box-shadow-large !important;
}

.u-shadow--huge {
  box-shadow: $global-box-shadow-huge !important;
}



