/* ==========================================================================
   #FLEX
   ========================================================================== */











/* Flex direction
  ========================================================================== */










.u-row            { flex-direction: row !important; }
.u-column         { flex-direction: column !important; }
.u-row-reverse    { flex-direction: row-reverse !important; }
.u-column-reverse { flex-direction: column-reverse !important; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {

    .u-row#{$postfix}              { flex-direction: row !important; }
    .u-column#{$postfix}           { flex-direction: column !important; }
    .u-row-reverse#{$postfix}      { flex-direction: row-reverse !important; }
    .u-column-reverse#{$postfix}   { flex-direction: column-reverse !important; }

  }
}










/* Justify content
  ========================================================================== */











.u-start   { justify-content: flex-start !important; }
.u-end     { justify-content: flex-end !important; }
.u-center  { justify-content: center !important; }
.u-between { justify-content: space-between !important; }
.u-around  { justify-content: space-around !important; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {

    .u-start#{$postfix}     { justify-content: flex-start !important; }
    .u-end#{$postfix}       { justify-content: flex-end !important; }
    .u-center#{$postfix}    { justify-content: center !important; }
    .u-between#{$postfix}   { justify-content: space-between !important; }
    .u-around#{$postfix}    { justify-content: space-around !important; }

  }
}










/* Align items
  ========================================================================== */










.u-top              { align-items: flex-start !important; }
.u-bottom           { align-items: flex-end !important; }
.u-middle           { align-items: center !important; }
.u-baseline         { align-items: baseline !important; }
.u-stretch          { align-items: stretch !important; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {

    .u-top#{$postfix}       { align-items: flex-start !important; }
    .u-bottom#{$postfix}    { align-items: flex-end !important; }
    .u-middle#{$postfix}    { align-items: center !important; }
    .u-baseline#{$postfix}  { align-items: baseline !important; }
    .u-stretch#{$postfix}   { align-items: stretch !important; }

  }
}










/* Align content
  ========================================================================== */










.u-content-start   { align-content: flex-start !important; }
.u-content-end     { align-content: flex-end !important; }
.u-content-center  { align-content: center !important; }
.u-content-between { align-content: space-between !important; }
.u-content-around  { align-content: space-around !important; }
.u-content-stretch { align-content: stretch !important; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {

    .u-content-start#{$postfix}     { align-content: flex-start !important; }
    .u-content-end#{$postfix}       { align-content: flex-end !important; }
    .u-content-center#{$postfix}    { align-content: center !important; }
    .u-content-between#{$postfix}   { align-content: space-between !important; }
    .u-content-around#{$postfix}    { align-content: space-around !important; }
    .u-content-stretch#{$postfix}   { align-content: stretch !important; }

  }
}










/* Align self
  ========================================================================== */










.u-self-auto     { align-self: auto !important; }
.u-self-start    { align-self: flex-start !important; }
.u-self-end      { align-self: flex-end !important; }
.u-self-center   { align-self: center !important; }
.u-self-baseline { align-self: baseline !important; }
.u-self-stretch  { align-self: stretch !important; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {

    .u-self-auto#{$postfix}       { align-self: auto !important; }
    .u-self-start#{$postfix}      { align-self: flex-start !important; }
    .u-self-end#{$postfix}        { align-self: flex-end !important; }
    .u-self-center#{$postfix}     { align-self: center !important; }
    .u-self-baseline#{$postfix}   { align-self: baseline !important; }
    .u-self-stretch#{$postfix}    { align-self: stretch !important; }

  }
}










/* Order
  ========================================================================== */









.u-first      { order: -1 }
.u-last       { order:  1 } 




.u-order-0    { order: 0; }
.u-order-1    { order: 1; }
.u-order-2    { order: 2; }
.u-order-3    { order: 3; }
.u-order-4    { order: 4; }
.u-order-5    { order: 5; }
.u-order-6    { order: 6; }
.u-order-7    { order: 7; }
.u-order-8    { order: 8; }
.u-order-9    { order: 9; }
.u-order-10   { order: 10; }
.u-order-11   { order: 11; }
.u-order-12   { order: 12; }





@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {


    .u-first                  { order: -1 }
    .u-last                   { order:  1 } 


    .u-order-0#{$postfix}     { order: 0; }
    .u-order-1#{$postfix}     { order: 1; }
    .u-order-2#{$postfix}     { order: 2; }
    .u-order-3#{$postfix}     { order: 3; }
    .u-order-4#{$postfix}     { order: 4; }
    .u-order-5#{$postfix}     { order: 5; }
    .u-order-6#{$postfix}     { order: 6; }
    .u-order-7#{$postfix}     { order: 7; }
    .u-order-8#{$postfix}     { order: 8; }
    .u-order-9#{$postfix}     { order: 9; }
    .u-order-10#{$postfix}    { order: 10; }
    .u-order-11#{$postfix}    { order: 11; }
    .u-order-12#{$postfix}    { order: 12; }

  }
}