/* ==========================================================================
   #SHADOWS
   ========================================================================== */










.u-shadow {
  box-shadow: $global-box-shadow !important;
}










/* Size variants
    ========================================================================== */










.u-shadow--none {
  box-shadow: none !important;
}

.u-shadow--xs {
  box-shadow: $global-box-shadow-xs !important;
}

.u-shadow--sm {
  box-shadow: $global-box-shadow-sm !important;
}

.u-shadow--lg {
  box-shadow: $global-box-shadow-lg !important;
}

.u-shadow--xl {
  box-shadow: $global-box-shadow-xl !important;
}



