/* ==========================================================================
   #MARGIN
   ========================================================================== */










.u-mb {
  margin-bottom: rem($global-spacing-unit) !important;
}










/* Size variants
   ========================================================================== */










.u-mb--flush {
  margin-bottom: 0 !important;
}

.u-mb--tiny {
  margin-bottom: rem($global-spacing-unit-tiny) !important;
}

.u-mb--small {
  margin-bottom: rem($global-spacing-unit-small) !important;
}

.u-mb--large {
  margin-bottom: rem($global-spacing-unit-large) !important;
}

.u-mb--huge {
  margin-bottom: rem($global-spacing-unit-huge) !important;
}




