/* ==========================================================================
   #WIDTHS
   ========================================================================== */










/**
* simpluscss generates a series of utility classes that give a fluid width to
* whichever element they’re applied, e.g.:
*
*   <img src="" alt="" class="u-1/2" />
*
* These classes are most commonly used in conjunction with our layout system,
* e.g.:
*
*   <div class="o-layout__item  u-1/2">
*
*
* Optionally, simpluscss can generate offset classes which can push and pull
* elements left and right by a specified amount, e.g.:
*
*   <div class="o-layout__item  u-2/3  u-pull-1/3">
*
* This is useful for making very granular changes to the rendered order of
* items in a layout.
*/










/* Whole
   ========================================================================== */










.u-1\/1 {
  flex: 1 1 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.u-push-1\/1 {
  margin-left: 100% !important;
}

.u-pull-1\/1 {
  margin-right: 100% !important;
}










/* halves
   ========================================================================== */










.u-1\/2 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
  width: 50% !important;
}

.u-push-1\/2 {
  margin-left: 50% !important;
}

.u-pull-1\/2 {
  margin-right: 50% !important;
}


.u-2\/2 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.u-push-2\/2 {
  margin-left: 100% !important;
}

.u-pull-2\/2 {
  margin-right: 100% !important;
}










/* Thirds
   ========================================================================== */










.u-1\/3 {
  flex: 0 0 33.333333333% !important;
  max-width: 33.333333333% !important;
  width: 33.333333333% !important;
}

.u-push-1\/3 {
  margin-left: 33.333333333% !important;
}

.u-pull-1\/3 {
  margin-right: 33.333333333% !important;
}


.u-2\/3 {
  flex: 0 0 66.666666667% !important;
  max-width: 66.666666667% !important;
  width: 66.666666667% !important;
}

.u-push-2\/3 {
  margin-left: 66.666666667% !important;
}

.u-pull-2\/3 {
  margin-right: 66.666666667% !important;
}


.u-3\/3 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.u-push-3\/3 {
  margin-left: 100% !important;
}

.u-pull-3\/3 {
  margin-right: 100% !important;
}










/* Fourths
   ========================================================================== */










.u-1\/4 {
  flex: 0 0 25% !important;
  max-width: 25% !important;
  width: 25% !important;
}

.u-push-1\/4 {
  margin-left: 25% !important;
}

.u-pull-1\/4 {
  margin-right: 25% !important;
}


.u-2\/4 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
  width: 50% !important;
}

.u-push-2\/4 {
  margin-left: 50% !important;
}

.u-pull-2\/4 {
  margin-right: 50% !important;
}


.u-3\/4 {
  flex: 0 0 75% !important;
  max-width: 75% !important;
  width: 75% !important;
}

.u-push-3\/4 {
  margin-left: 75% !important;
}

.u-pull-3\/4 {
  margin-right: 75% !important;
}


.u-4\/4 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.u-push-4\/4 {
  margin-left: 100% !important;
}

.u-pull-4\/4 {
  margin-right: 100% !important;
}










/* Fifths
   ========================================================================== */










.u-1\/5 {
  flex: 0 0 20% !important;
  max-width: 20% !important;
  width: 20% !important;
}

.u-push-1\/5 {
  margin-left: 20% !important;
}

.u-pull-1\/5 {
  margin-right: 20% !important;
}


.u-2\/5 {
  flex: 0 0 40% !important;
  max-width: 40% !important;
  width: 40% !important;
}

.u-push-2\/5 {
  margin-left: 40% !important;
}

.u-pull-2\/5 {
  margin-right: 40% !important;
}


.u-3\/5 {
  flex: 0 0 60% !important;
  max-width: 60% !important;
  width: 60% !important;
}

.u-push-3\/5 {
  margin-left: 60% !important;
}

.u-pull-3\/5 {
  margin-right: 60% !important;
}


.u-4\/5 {
  flex: 0 0 80% !important;
  max-width: 80% !important;
  width: 80% !important;
}

.u-push-4\/5 {
  margin-left: 80% !important;
}

.u-pull-4\/5 {
  margin-right: 80% !important;
}


.u-5\/5 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  width: 100% !important;
}

.u-push-5\/5 {
  margin-left: 100% !important;
}

.u-pull-5\/5 {
  margin-right: 100% !important;
}










@each $breakpoint, $postfix in $breakpoints {
  @include mq($breakpoint) {









    /* Whole
      ========================================================================== */










    .u-1\/1#{$postfix} {
      flex: 1 1 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .u-push-1\/1#{$postfix} {
      margin-left: 100% !important;
    }

    .u-pull-1\/1#{$postfix} {
      margin-right: 100% !important;
    }










    /* halves
      ========================================================================== */










    .u-1\/2#{$postfix} {
      flex: 0 0 50% !important;
      max-width: 50% !important;
      width: 50% !important;
    }

    .u-push-1\/2#{$postfix} {
      margin-left: 50% !important;
    }

    .u-pull-1\/2#{$postfix} {
      margin-right: 50% !important;
    }


    .u-2\/2#{$postfix} {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .u-push-2\/2#{$postfix} {
      margin-left: 100% !important;
    }

    .u-pull-2\/2#{$postfix} {
      margin-right: 100% !important;
    }










    /* Thirds
      ========================================================================== */










    .u-1\/3#{$postfix} {
      flex: 0 0 33.333333333% !important;
      max-width: 33.333333333% !important;
      width: 33.333333333% !important;
    }

    .u-push-1\/3#{$postfix} {
      margin-left: 33.333333333% !important;
    }

    .u-pull-1\/3#{$postfix} {
      margin-right: 33.333333333% !important;
    }


    .u-2\/3#{$postfix} {
      flex: 0 0 66.666666667% !important;
      max-width: 66.666666667% !important;
      width: 66.666666667% !important;
    }

    .u-push-2\/3#{$postfix} {
      margin-left: 66.666666667% !important;
    }

    .u-pull-2\/3#{$postfix} {
      margin-right: 66.666666667% !important;
    }


    .u-3\/3#{$postfix} {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .u-push-3\/3#{$postfix} {
      margin-left: 100% !important;
    }

    .u-pull-3\/3#{$postfix} {
      margin-right: 100% !important;
    }










    /* Fourths
      ========================================================================== */










    .u-1\/4#{$postfix} {
      flex: 0 0 25% !important;
      max-width: 25% !important;
      width: 25% !important;
    }

    .u-push-1\/4#{$postfix} {
      margin-left: 25% !important;
    }

    .u-pull-1\/4#{$postfix} {
      margin-right: 25% !important;
    }


    .u-2\/4#{$postfix} {
      flex: 0 0 50% !important;
      max-width: 50% !important;
      width: 50% !important;
    }

    .u-push-2\/4#{$postfix} {
      margin-left: 50% !important;
    }

    .u-pull-2\/4#{$postfix} {
      margin-right: 50% !important;
    }


    .u-3\/4#{$postfix} {
      flex: 0 0 75% !important;
      max-width: 75% !important;
      width: 75% !important;
    }

    .u-push-3\/4#{$postfix} {
      margin-left: 75% !important;
    }

    .u-pull-3\/4#{$postfix} {
      margin-right: 75% !important;
    }


    .u-4\/4#{$postfix} {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .u-push-4\/4#{$postfix} {
      margin-left: 100% !important;
    }

    .u-pull-4\/4#{$postfix} {
      margin-right: 100% !important;
    }










    /* Fifths
      ========================================================================== */










    .u-1\/5#{$postfix} {
      flex: 0 0 20% !important;
      max-width: 20% !important;
      width: 20% !important;
    }

    .u-push-1\/5#{$postfix} {
      margin-left: 20% !important;
    }

    .u-pull-1\/5#{$postfix} {
      margin-right: 20% !important;
    }


    .u-2\/5#{$postfix} {
      flex: 0 0 40% !important;
      max-width: 40% !important;
      width: 40% !important;
    }

    .u-push-2\/5#{$postfix} {
      margin-left: 40% !important;
    }

    .u-pull-2\/5#{$postfix} {
      margin-right: 40% !important;
    }


    .u-3\/5#{$postfix} {
      flex: 0 0 60% !important;
      max-width: 60% !important;max-width: 60% !important;
    }

    .u-push-3\/5#{$postfix} {
      margin-left: 60% !important;
    }

    .u-pull-3\/5#{$postfix} {
      margin-right: 60% !important;
    }


    .u-4\/5#{$postfix} {
      flex: 0 0 80% !important;
      max-width: 80% !important;
      width: 80% !important;
    }

    .u-push-4\/5#{$postfix} {
      margin-left: 80% !important;
    }

    .u-pull-4\/5#{$postfix} {
      margin-right: 80% !important;
    }


    .u-5\/5#{$postfix} {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      width: 100% !important;
    }

    .u-push-5\/5#{$postfix} {
      margin-left: 100% !important;
    }

    .u-pull-5\/5#{$postfix} {
      margin-right: 100% !important;
    }









  }
}











