/* ==========================================================================
   #MARGIN
   ========================================================================== */










.u-mb {
  margin-bottom: $global-spacing-unit!important;
}










/* Size variants
   ========================================================================== */










.u-mb--fl {
  margin-bottom: 0 !important;
}

.u-mb--xs {
  margin-bottom: $global-spacing-unit-xs !important;
}

.u-mb--sm {
  margin-bottom: $global-spacing-unit-sm !important;
}

.u-mb--lg {
  margin-bottom: $global-spacing-unit-lg !important;
}

.u-mb--xl {
  margin-bottom: $global-spacing-unit-xl !important;
}




