/* ==========================================================================
   #MARGIN
   ========================================================================== */










.u-mb {
  margin-bottom: $global-spacing-unit!important;
}










/* Size variants
   ========================================================================== */










.u-mb--flush {
  margin-bottom: 0 !important;
}

.u-mb--tiny {
  margin-bottom: $global-spacing-unit-tiny !important;
}

.u-mb--small {
  margin-bottom: $global-spacing-unit-small !important;
}

.u-mb--large {
  margin-bottom: $global-spacing-unit-large !important;
}

.u-mb--huge {
  margin-bottom: $global-spacing-unit-huge !important;
}




