/* ==========================================================================
   #LINKS
   ========================================================================== */










/**
 * Default styles for simple hyperlinks.
 */


a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}
